 
import("graphics", "stats", "zoo", "raster", "sp", "spacetime","rasterVis","intervals","hexbin","rgdal")

export(
  "getcrMatrix",
  "getxyMatrix",
  "array2sp",
  "pvaluearray2sp",
  "polygon2sp",
  "array2STSDF",
  "array2STFDF",
  "array2STSDF2",
  "deterpolytopoints2STSDF",
  "STFDF2brick",
  "STFDF2MODISarray",
  "tfpn",
  "hexspt",
  "comparetime",
  "plottimediff",
  "hist.time",
 
  "gcm",
  "generatecmchange",
  "generatecmpvalue",
  "generateppvalue",
  "generatepchange",
  "barplotcm",
  "generatemapRAS1",
  "generateRAS"
)